<div *ngIf="getShowHome()">
  {{ this.checkForUnsavedItems() }}
  <table style="width:100%;border: 3px solid black;border-collapse: collapse;border-radius: 10px;">
    <th>Name</th>
    <th style="width:10%">Menge</th>
    <th style="width:15%">Daten erfasst am</th>
    <th style="width:30%"></th>
    <th style="width:10%">Verlauf</th>
    <tr *ngFor="let item of itemComponentList; let i=index">
      <td>{{item.name}}</td>
      <td style="width:10%">{{item.amount}}</td>
      <td style="width:15%">{{item.datecreated}}</td>
      <td style="width:30%"><button (click)="item.increase()">+</button><button (click)="item.decrease()">-</button>
      </td>
      <td style="width:10%">
        <button style="width:100%" (click)="getHistory(item)"><img src="./assets/img/history.png"/></button>
      </td>
    </tr>
  </table>
  <br>
  <button style="width: 100%" (click)="newItem()">Neues Item</button><br><br>
  <button [disabled]="!this.connected" (click)="reload()">Neu Laden</button><button [disabled]="!this.connected"
    (click)="update()">Speichern</button>
</div>
<div >
  
</div>

<div  class="app-add-new-item" *ngIf="getShowNewItem()" (reload)="reload()"></div>
<div  class="app-get-item-history" *ngIf="getShowItemHistory()" (reload)="reload()"></div>